.TcHmi_Controls_Beckhoff_TcHmiEventGrid-template .TcHmi_Controls_Beckhoff_TcHmiDatagrid-template-header,
.TcHmi_Controls_Beckhoff_TcHmiEventGrid-template .tchmi-datagrid-template-header {
    background: #fe6e5d;
}
